[submodule "model"]
	path = model
	url = https://github.com/yzfzzz/depth-detect-model.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/JsonSenderTest"]
	path = third_party/JsonSenderTest
	url = https://github.com/yzfzzz/JsonSenderTest
[submodule "third_party/OneEuroFilter"]
	path = third_party/OneEuroFilter
	url = https://github.com/casiez/OneEuroFilter
